body {
    margin: 20px;
}
.img {
    width: 150px;
    border-radius: 10px;
}

.ouskeh {
    width: 100%;
    border-radius: 10px;
}

.ohg {
    width: 100%;
    border-radius: 10px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex block;
    justify-content: space-around;
    background-color: #ddebf8;
    border-radius: 15px;
    border-bottom: 6px solid #a490f3;
    color: #2d2839;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.border-line {
    border: 2px dotted blueviolet;
}